*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
Body{
  background-color: black;
}
a{
  text-decoration-color: none;
  text-decoration-style: none;
}
header{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  background-color: rgba(153, 196, 252, 0.428);
}
main{
  margin: 25px;
  background-color: rgba(153, 196, 252, 0.428);
}
footer{
  display: flex;
  justify-content: center;
  gap: 25px;
  background-color: rgba(153, 196, 252, 0.428);
}
/*  ESTILO RESCATADO DE UN POST QUE VI EN INTERNET PARA SACAR LAS FLECHAS A EL INPUT TYPE="NUMBER"  */
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*   FIN   */
button{
  background-color: rgb(219, 255, 60);
  border-radius: 10.5px;
}
.inputValor{
  background-color: white;
  
}
.casaDeCambio{
  display: flex;
  justify-content: center;
  padding: 1.5px;
  border: 0.5px solid black;
}
.noticiasBox1{
  display: flex;
  padding: 1.5rem;
  gap: 0.5rem;
}